.blog-post {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  position: relative;
}

.blog-post-title {
  margin: 20px 0;
  text-align: center;
}

.blog-post-content {
  margin: 0 20px;
}

.blog-post-btn {
  display: inline-block;
  padding: 4px 8px;
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
  border: 1px solid #bbb;
  text-decoration: none;
  color: #555;
  
  background-color: #ddd;
  transition: background-color .2s ease-out;
  
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(255,255,255, .9);
}

.blog-post-btn:hover{
  background-color: #eee;
  color: #555;
}

.blog-post-edited {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  padding: 5px;
  border-radius: 4px;
  font-style: italic;
}
