.blog-list {
  margin: 20px;
}

.blog-entry {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0;
  position: relative;
}

.blog-entry-title {
  margin: 10px 0;
}

.blog-entry:hover .blog-entry-title {
  text-decoration: none;
  color: red;
}

.blog-entry-edited {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: red;
  padding: 5px;
  border-radius: 4px;
  font-style: italic;
}
