.edit-blog {
  background-color: aquamarine;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
}

.edit-blog-form-label {
  margin-top: 20px;
}

.edit-blog-form-title {
  width: 100%;
  font-size: 24px;
}

.edit-blog-form-content {
  width: 100%;
  font-size: 16px;
  resize: none;
}

.edit-blog-form-btn {
  margin-top: 20px;
  font-size: 16px;
}

.edit-blog-form-btn:hover {
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

